{%- liquid
	assign disabled_by_yoast_seo = true
	if content_for_header contains 'yoast-active-script'
		assign disabled_by_yoast_seo = false
	endif
-%}
{% assign is_checkout = true %}
<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>{% render 'yoast-seo' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <meta name="theme-color" content="{{ settings.color_theme }}">

    {%- if disabled_by_yoast_seo -%}
    <title>{{ page_title }}</title>
    {%- endif -%}

        {% render 'tracking_code_checkout' %}
    {% render 'header-google-tag-manager' %}

    {{ content_for_header }}

        <script>
      var _rejoiner = _rejoiner || [];
      _rejoiner.push(['setDomain', 'bullymax.com'])
    </script>
    <!-- Rejoiner Basic Snippet -->
    <script type="text/javascript" async="" src="https://cdn.rejoiner.com/js/platforms/shopify/rj2.js?rejoiner_site_id=barZxaW"></script>
    <!-- end of Rejoiner Basic Snippet -->
     
    
    {{ checkout_stylesheets }}
    {{ checkout_scripts }}

      <link href="//fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">
      {% include 'css-variables' %}

    {{ 'checkout.min.css' | asset_url | stylesheet_tag }}

    {{ 'jquery-3.5.1.min.js' | asset_url | script_tag }}

         {{ 'base.css' | asset_url | stylesheet_tag }}

        <script>
      (function($) {
        $(document).on("page:load page:change", function() {
          // Add your customizations
          var liList = document.getElementById("bradcrumb-wrapper").getElementsByTagName("li");
          var largo = liList.length
          var element = document.getElementById("bradcrumb-wrapper");
          var progress_amount_index = $('.breadcrumb__item--current').index()
          
          if(largo==4){
            element.classList.add("four_steps");
            var progress_amount = progress_amount_index*30;
          }
          else{
            element.classList.add("three_steps");
            var progress_amount = (progress_amount_index+1)*30;
          }
          
          if(progress_amount == 0){
            progress_amount = 30;
          }
          if(progress_amount < 0){
            progress_amount = 100;
          }
          $('.checkout-progress').find('.amount').html(progress_amount+'%').attr('style', 'display: inline-block !important').fadeIn("fast");//css("display","inline-block !important");
        });
      })(Checkout.$);
    </script>
    <style>.breadcrumb__item.breadcrumb__item--completed .breadcrumb__text::before, .breadcrumb__item.breadcrumb__item--completed .breadcrumb__link::before {background-image: url('{{ 'tick-sign.svg' | asset_url }}') !important;}    </style>
  <style>
    .hamburger-icon-4 span,
    .hamburger-icon-4 span:before,
    .hamburger-icon-4 span:after {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: white;
      content: '';
      cursor: pointer;
    }

    .hamburger-icon-4 span:before {
      top: -5px;
    }

    .hamburger-icon-4 span:after {
      bottom: -5px; 
    }
    .w-100 {
      width: 100%;
    }
    .w-hamburger {
      width: 27%;
      padding-right: 3%;
    }
    span.w-100 {
      position: relative;
    }
    #sidebarDrawerCollapse {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 17.7%;
    }
    .button-search-bullymax {
      display: flex;
      align-items: center;
    }
    .button-search-bullymax img {
      width: 18px;
      height: 18px;
      transform: scale(1.2);
    }
    .bullymax-checkout .order-summary .order-summary__scroll-indicator{
        display: none;
    }
  </style>
    
  </head>
  <body id="{{ page_title | handle }}" class="bullymax-checkout template-checkout">
        <!-- Start of Littledata - Fix Google Analytics Script-->
    {% include 'LittledataLayer' %}
    <!-- End of Littledata - Fix Google Analytics Script -->
    {% render 'header-google-tag-manager-noscript' %}

    <div class="skip">
    {{ skip_to_content_link }}
    </div>

    {% section 'header' %}

        <div class="container py-4 py-lg-0">
      <a href="{{routes.cart_url}}" class="m-0 d-block d-lg-none cart-back-link h5 text-dark" rel="nofollow" title="Back to cart"><span class="text-orange"><</span> Back to cart</a>
      <div class="w-100 clearfix"></div>
    </div>
    
<!--     <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header> -->

    {{ order_summary_toggle }}
    <div class="container content" data-content>
      <div class="wrap">
        <div class="main">
                    <a href="{{routes.cart_url}}" class="d-none cart-back-link h5 text-dark d-lg-inline-block" rel="nofollow" title="Back to cart"><span class="text-orange"><</span> Back to cart</a>
        <div class="w-100 clearfix"></div>
          <header class="main__header" role="banner">
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            {{ content_for_layout }}
          </main>
<!--           <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer> -->
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>
     {% section 'footer' %}
    {{ tracking_code }}

                          <!-- Rejoiner Calls -->
    <script>
      var _rejoiner = _rejoiner || [];
      //setCartData call
      _rejoiner.push(["setCartData", {
        "cart_value": {{ checkout.total_price|json }},
        "cart_item_count": {{ checkout.item_count|json }},
        "return_url": window.location.href //mimic the URL of the current page
      }]);
      // setCartItem Call
      {% for line_item in checkout.line_items %}
      _rejoiner.push(["setCartItem", {
        "product_id": {{ line_item.product_id|json }},
        "name": {{ line_item.title|json }},
        // "description": {{ line_item.product.description|json }},
        "price": {{ line_item.price|json }},
        "product_url": "{{ shop.secure_url }}{{ line_item.url }}",
        "item_qty": {{ line_item.quantity|json }},
        "qty_price": {{ line_item.line_price|json }},
        "image_url": "https:{{ line_item.image.src | img_url:'medium' }}",
        "category": {{ line_item.product.collections | map:'title' |json}}
      }]);
      {% endfor %}
    </script>

                          <script>
      /* CUSTOM CODE */
      function defer(method) {
        if (window.jQuery) {
          method();
        } else {
          setTimeout(function() { defer(method); }, 50);
        }
      }
      defer(function () {
        $ = jQuery; 
        
        //Contact info div change
        var cxlContactInfo="<span class='cxl-link' id='cxl-login'>Login</span>"+
            "<span> or </span>"+
            "<span class='cxl-link' id='cxl-create'>Create an account</span>";

                  
        $(".section--contact-information .layout-flex__item span").text("Have an account? ");
        $("p.layout-flex__item a[data-trekkie-id='have_an_account_login_link']").hide();
        $(".section--contact-information .layout-flex__item span").after(cxlContactInfo);
        
        $('#cxl-create').next('a').hide();
        
        //login snippet 
        var cxlLogin="<div class='cxl-login-container '>"+
            "<span class='cxl-input-header'>LOGIN TO AN ACCOUNT</span>"+
            "<a id='cxl-forgot' class='cxl-link2' href='/account/login#recover'>Forgot password?</a>"+
            "<form method='post' action='/account/login' id='customer_login' accept-charset='UTF-8'>"+
            "<input type='hidden' name='checkout_url' id='redirect_url' value='' />"+
            "<div class='fieldset cxl-fieldset'>"+
            "<div class='field__input-wrapper'>"+
            "<label class='cxl-label field__label field__label--visible' for='email'>Email</label>"+
            "<input type='email' placeholder='Email' name='customer[email]' class='cxl-input field__input cxl-input-top' id='email' >"+
            "</div>"+
            "<div class='field__input-wrapper'>"+
            "<label class='cxl-label field__label field__label--visible' for='password'>Password</label>"+
            "<input type='password' placeholder='Password' name='customer[password]'class='cxl-input field__input cxl-input-bottom' id='password'>"+
            "</div>"+
            "<input type='submit' class='btn cxl-btn' value='Login'>"+
            "<p class='cxl-options'><span id='cxl-skip-link1' class='cxl-link2'>Skip</span><span class='cxl-goto-create cxl-link2'>Or create a new account?</span></p>"+
            "</div>";

        //Insert snippet 

        $("#cxl-login").click(function(){
          $(".section--contact-information .section__header p.layout-flex__item").hide();
          $(".field--email_or_phone").hide();
          $(".section--contact-information .section__header").after(cxlLogin);
        });

        //input focus listener
        $("body").on('keydown blur', '#email', function(e){

          if( e.type == 'keydown' ){ 
            $("#email").addClass('cxl-input-active');
            $("label[for='email']").addClass('cxl-label-active');
            $("#email").attr('placeholder','');
          }
          else{
            if(!$('#email').val()){
              $("#email").removeClass('cxl-input-active');
              $("label[for='email']").removeClass('cxl-label-active');
              $("#email").attr('placeholder','Email');
            }
          }       
        });

        $("body").on('keydown blur', '#password', function(e){

          if( e.type == 'keydown' ){ 
            $("#password").addClass('cxl-input-active');
            $("label[for='password']").addClass('cxl-label-active');
            $("#password").attr('placeholder','');
          }
          else{
            if(!$('#password').val()){
              $("#password").removeClass('cxl-input-active');
              $("label[for='password']").removeClass('cxl-label-active');
              $("#password").attr('placeholder','Password');
            }
          }       
        });

        // Skip event listener 
        $("body").on("click", "#cxl-skip-link1", function(){
          $(".cxl-login-container").hide();
          $(".section--contact-information .section__header p.layout-flex__item").css("display","block");
          $(".field--email_or_phone").css("display","block");
        });

        //Register snippet
        var cxlCreate="<div class='cxl-create-container'>"+
            "<span class='cxl-input-header'>CREATE AN ACCOUNT</span>"+
            "<span class='cxl-have-account'>Have an account?<span class='cxl-link'>Login</span></span>"+
            "<form method='post' action='/account' id='create_customer' accept-charset='UTF-8'>"+
            "<div class='fieldset cxl-fieldset'>"+
            "<div class='field__input-wrapper'>"+
            "<label class='cxl-label field__label field__label--visible' for='create-email'>Email</label>"+
            "<input type='email' placeholder='Email' name='customer[email]' id='create-email' class='cxl-input field__input cxl-input-top' >"+
            "</div>"+
            "<div class='field__input-wrapper'>"+
            "<label class='cxl-label field__label field__label--visible' for='create-password'>Password</label>"+
            "<input type='password' placeholder='Password' name='customer[password]' id='create-password' class='cxl-input field__input cxl-input-bottom'>"+
            "</div>"+
            "<input type='submit' class='btn cxl-btn' value='Create'>"+
            "<span id='cxl-skip-link2' class='cxl-link2'>Skip</span>"+
            "</div>";

        //Insert snippet 
        $("#cxl-create").click(function(){
          $(".section--contact-information .section__header p.layout-flex__item").hide();
          $(".field--email_or_phone").hide();
          $(".section--contact-information .section__header").after(cxlCreate);
        });

        //input focus listener
        $("body").on('keydown blur', '#create-email', function(e){
          if( e.type == 'keydown' ){ 
            $("#create-email").addClass('cxl-input-active');
            $("label[for='create-email']").addClass('cxl-label-active');
            $("#create-email").attr('placeholder','');
          }
          else{
            if(!$('#create-email').val()){
              $("#create-email").removeClass('cxl-input-active');
              $("label[for='create-email']").removeClass('cxl-label-active');
              $("#create-email").attr('placeholder','Email');
            }
          }       
        });

        $("body").on('keydown blur', '#create-password', function(e){

          if( e.type == 'keydown' ){ 
            $("#create-password").addClass('cxl-input-active');
            $("label[for='create-password']").addClass('cxl-label-active');
            $("#create-password").attr('placeholder','');
          }
          else{
            if(!$('#create-password').val()){
              $("#create-password").removeClass('cxl-input-active');
              $("label[for='create-password']").removeClass('cxl-label-active');
              $("#create-password").attr('placeholder','Password');
            }
          }       
        });

        //Skip event listener 
        $("body").on("click", "#cxl-skip-link2", function(){
          $(".cxl-create-container").hide();
          $(".section--contact-information .section__header p.layout-flex__item").css("display","block");
          $(".field--email_or_phone").css("display","block");
        });

        //Change to Login event from Create
        $("body").on("click", ".cxl-have-account .cxl-link", function(){
          $(".cxl-create-container").hide();
          $(".section--contact-information .section__header").after(cxlLogin);
        });

        //Change to Create event-from Login
        $("body").on("click", ".cxl-goto-create", function(){
          $(".cxl-login-container").hide();
          $(".section--contact-information .section__header").after(cxlCreate);
        });
        setTimeout(function(e){
           var url =  window.location.href; 
           $("#redirect_url").val(url);
        },3000);
      });
            
    </script>

                        <div data-rebuy-id="527"></div>
<script async src="https://rebuyengine.com/js/rebuy?shop=bully-max.myshopify.com"></script>
      <!-- ADDRESS VALIDATOR -->
<script async src="https://d3ox8tdk614ykk.cloudfront.net/pobox_checker.js"></script>
<!-- Shopping Guarantee Seal -->
<script type="text/javascript" src="//guarantee-cdn.com/SealCore/api/gjs?SN=940839776&t=11"></script>
  </body>
</html>
