{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{%- liquid
	assign disabled_by_yoast_seo = true
	if content_for_header contains 'yoast-active-script'
		assign disabled_by_yoast_seo = false
	endif
-%}

<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" data-role="{{ theme.role }}">
  <head>{% render 'yoast-seo' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<link rel="canonical" href="{{ canonical_url }}">
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap" rel="stylesheet">
    
    {%- comment -%}Auto-disabled. Yoast plugin is taking care of SEO output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}

    {% if page_description %}
      {%- comment -%}Auto-disabled. Yoast plugin is taking care of Meta Tags output.{%- endcomment -%}
{%- if disabled_by_yoast_seo -%}
<meta name="description" content="{{ page_description | escape }}">
{%- comment -%} End Yoast auto-disable. {%- endcomment -%}
{%- endif -%}
    {% endif %}

    {% render 'meta-tags' %}
    
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    
    {{ content_for_header }}

    {%- liquid
      assign body_font_bold_weight = '700'
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', body_font_bold_weight
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}
    
    {% style %}    
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {%- capture body_font_bold_value -%}{{ body_font_bold | font_face: font_display: 'swap' }}{%- endcapture -%}
      {%- if body_font_bold_value == '' -%}
      {%- liquid
      	assign body_font_bold_weight = 'bold'
        assign body_font_bold = settings.type_body_font | font_modify: 'weight', body_font_bold_weight
        assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
        assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
      %}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {%- else -%}
      {{body_font_bold_value}}
      {%- endif -%}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}
    
      :root {
    	--duration-short: .2s;
        --duration-medium: .3s;
    	--duration-large: .5s;
    	--animation-bezier: ease;
    	--zoom-animation-bezier: cubic-bezier(.15,.75,.5,1);
    
        --animation-type: cubic-bezier(0, 0, 0.3, 1);
        --animation-time: .5s;

        --product-thumbnail_move-up: 0.35s;
        --product-thumbnail_move-up_type: linear;
        --product-thumbnail-button_opacity_hover: 0.15s;
        --product-thumbnail-button_opacity_over: 0.3s;
        --product-thumbnail-button_opacity_type: linear;
        --product-thumbnail-button_move: 0.35s;
        --product-thumbnail-button_move_type: linear;

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};
    
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
    	--font-body-bold-weight: {{ body_font_bold_weight }};
    	--font-button-weight: {% if settings.buttons_font_weight == 'strong' %}700{% else %}{{ settings.type_body_font.weight }}{% endif %};
    
    	--font-heading-scale: {{ settings.heading_scale | divided_by: 100.0 }};
        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};

        
        --font-body-size: calc(20px * var(--font-body-scale));
        --font-body-line-height: 1.2;
        
        --font-body1-size: calc(24px * var(--font-body-scale));
        --font-body1-line-height: 1.2;
        --font-body2-size: calc(18px * var(--font-body-scale));
        --font-body2-line-height: 1.5;
        --font-body3-size: calc(16px * var(--font-body-scale));
        --font-body3-line-height: 1.4;
        --font-body4-size: calc(14px * var(--font-body-scale));
        --font-body4-line-height: 1.5;

        --color-header-background: {{settings.color_header}};
        --color-secondary-header-background: {{settings.color_secondary_header_background}};
        --color-header-text: {{settings.color_header_text}};
        --color-secondary-menu-text: {{settings.color_secondary_header_text}};
        --color-secondary-base-background: rgb(255 255 255 / 7%); 
      
        --color-body-background: {{ settings.color_background }};
        --color-secondary-background: {{ settings.color_secondary_background }};
      	--color-section-background: var(--color-secondary-background);

        --border-color: {{ settings.border_color }};

    	{%- comment -%}
    	--color-simple-dropdown = menu submenu, search dropdown, sticky add to cart, sticky filters
    	{%- endcomment -%}
    	--color-simple-dropdown: {{ settings.color_background | color_lighten: 15 }};
    	--color-vertical-menu-dropdown: {{ settings.color_background | color_lighten: 10 }};

        --color-base:{{ settings.color_base }};
    	--color-base-rgb: {{ settings.color_base.red }}, {{ settings.color_base.green }}, {{ settings.color_base.blue }};
        --color-accent:{{ settings.color_accent }};
        --color-subheading: var(--color-accent);
        --color-text-link:{{ settings.color_text_link }};

        --color-price: {{ settings.color_price }};
        --color-old-price: {{ settings.color_save_price }};
        --color-lines-borders: {{ settings.color_base | color_modify: 'alpha', 0.3 }};
        --color-input-background: {{ settings.color_input_background }};
        --color-input-text: {{ settings.color_input_text }};
        --color-input-background-active: var(--color-body-background);
        --opacity-icons: {{ settings.icon_opacity | divided_by: 100.00 }};

    	--mobile-focus-color: {{ settings.color_base | color_modify: 'alpha', 0.04 }};

    	--shadow: 0px 4px 20px rgba(22, 19, 69, 0.13);

    	{%- assign accent_brightness = settings.color_base | color_extract: 'lightness' -%}
    	--auto-text-color-button-light:#ffffff;
    	--auto-text-color-button-dark:{%- if accent_brightness < 50 -%}var(--color-base){% else %}#000000{% endif %};
    	--auto-input-color-active-border-light: rgba(255,255,255,0.3);
    	--auto-input-color-active-border-dark: {%- if accent_brightness < 50 -%}rgba(var(--color-base-rgb),0.3){% else %}rgba(0,0,0,0.3){% endif %};

    	{%- assign accent_brightness = settings.color_input_text | color_extract: 'lightness' -%}
    	--auto-text-color-input-light:#ffffff;
    	--auto-text-color-input-dark:{%- if accent_brightness < 50 -%}var(--color-input-text){% else %}#000000{% endif %};
    
    	{%- assign accent_brightness = settings.color_accent | color_extract: 'lightness' -%}
    	{%- capture auto_text_color_accent -%}
    	{%- if accent_brightness < 50 -%}#ffffff
   		{% else %}
    	{%- assign accent_brightness = settings.color_base | color_extract: 'lightness' -%}
    	{%- if accent_brightness < 50 -%}var(--color-base){%- else -%}#000000{%- endif -%}{% endif %}
    	{%- endcapture -%}
    	--auto-text-color-accent: {{ auto_text_color_accent }};
    
      	{%- assign accent_brightness = settings.color_base | color_extract: 'lightness' -%}
        {%- if accent_brightness < 50 -%}
    	--auto-text-color--with-base-color: #ffffff;
    	{%- else -%}
    	--auto-text-color--with-base-color: #000000;
    	{%- endif -%}

        --btn-text-color: {{ settings.btn_text_color }};
        --btn-back-color: {{ settings.btn_back_color }};

        --radius: {{ settings.roundness }}px;
    	--radius-input: {{ settings.roundness_input_buttons }}px;
    	--radius-button: {{ settings.roundness_input_buttons }}px;
    	--radius-badge:{% if settings.roundness == 0 %}0{% else %}3px{% endif %};
    	--radius-checkbox:{% if settings.roundness == 0 %}0{% else %}4px{% endif %};

        --color-badge-1:{{ settings.color_save_badge }};
    	{%- assign accent_brightness = settings.color_save_badge | color_extract: 'lightness' -%}
        {%- if accent_brightness < 50 -%}
    	--color-badge-1-text: var(--auto-text-color-button-light);
    	{%- else -%}
    	--color-badge-1-text: var(--auto-text-color-button-dark);
        {%- endif -%}

        --color-badge-2:{{ settings.color_featured_badge }};
    	{%- assign accent_brightness = settings.color_featured_badge | color_extract: 'lightness' -%}
        {%- if accent_brightness < 50 -%}
    	--color-badge-2-text: var(--auto-text-color-button-light);
    	{%- else -%}
    	--color-badge-2-text: var(--auto-text-color-button-dark);
        {%- endif -%}
    
        --color-badge-3:{{ settings.color_soldout_badge }};
    	{%- assign accent_brightness = settings.color_soldout_badge | color_extract: 'lightness' -%}
        {%- if accent_brightness < 50 -%}
    	--color-badge-3-text: var(--auto-text-color-button-light);
    	{%- else -%}
    	--color-badge-3-text: var(--auto-text-color-button-dark);
        {%- endif -%}

        --color-free-delivery-bar: {{ settings.color_free_delivery_bar }};
      
    	--color-error: {{ settings.color_alert }};
    
        --form_field-height: 50px;

        --page-width: {{ settings.page_width }}px;
        --page-padding: {{ settings.spacing_grid_horizontal }}px;

        --sections-top-spacing: 100px;
    	--sections-top-spacing-mobile: 80px;
		--sections-top-spacing--medium: 80px;
    	--sections-top-spacing--medium-mobile: 60px;
		--sections-top-spacing--small: 40px;
    	--sections-top-spacing--small-mobile: 40px;

        --padding1: 10px;
        --padding2: 20px;
        --padding3: 30px;
        --padding4: 40px;
    	--padding5: 60px;
      }

      *,
      *::before,
      *::after {
      	box-sizing: border-box;
      }
      html {
        box-sizing: border-box;
        height: 100%;
     	-webkit-tap-highlight-color: transparent;
    	scroll-behavior: smooth;
      }
      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        font-size: var(--font-body-size);
        line-height: var(--font-body-line-height);
        color: var(--color-base);
    	background: var(--color-body-background);
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
        -webkit-text-size-adjust: none;
    	text-size-adjust: none;
    	overflow-x: hidden;
      }

      @media (max-width: 992px){
          body{
          font-size: calc(var(--font-body-size) - 6px);
          } 
      }
       
      {%- assign accent_brightness = settings.color_accent | color_extract: 'lightness' -%}
      .btn{
        --background: var(--btn-back-color);
        {%- if accent_brightness < 50 -%}
    	--color: var(--auto-text-color-button-light);
    	--fill: var(--auto-text-color-button-light);
    	{%- else -%}
    	--color: var(--auto-text-color-button-dark);
    	--fill: var(--auto-text-color-button-dark);
        {%- endif -%}
      }

      {%- assign accent_brightness = settings.color_base | color_extract: 'lightness' -%}
      .btn--secondary{
        --background: var(--color-base);
        {%- if accent_brightness < 50 -%}
    	--color: var(--auto-text-color-button-light);
    	--fill: var(--auto-text-color-button-light);
    	{%- else -%}
    	--color: var(--auto-text-color-button-dark);
    	--fill: var(--auto-text-color-button-dark);
        {%- endif -%}
      }
    
    .visually-hidden {
      position: absolute!important;
      overflow: hidden;
      margin: -1px;
      border: 0;
      clip: rect(0 0 0 0);
      word-wrap: normal!important;
    }
    .visually-hidden:not(:focus),
    .visually-hidden:not(:focus-visible){
      width: 1px;
      height: 1px;
      padding: 0;
    }
    .announcement-bar{
      opacity:0;
    }
    .popup-modal{
      display: none;
    }
    {%- if settings.animate_content_show -%}
    .js #MainContent{
      opacity:0;
      transition: opacity 1s var(--animation-bezier);
    }
    .js.dom-loaded #MainContent{
      opacity:1;
    }
    {%- endif -%}
    {%- if settings.animate_image_show -%}
    .js img.image-show--fadein{
      opacity:0;
      transition: opacity 1s var(--animation-bezier);
    }
    .js img.image-show--fadein.image-loaded{
      opacity: 1;
    }
    {%- endif -%}
    {%- if settings.headings_uppercase -%}
    .product__information b,
    .variants-label,
    table thead th,
    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
      text-transform: uppercase;
    }
    .cart-item__heading{
      text-transform: none;
    }
    {%- endif -%}
    {%- if settings.buttons_uppercase -%}
    .btn:not(.btn_border), .btn-small, .btn-medium{
      text-transform: uppercase;
    }
    {%- endif -%}
    
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'margin-and-padding.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
      document.addEventListener("DOMContentLoaded", function(event) {
        document.documentElement.classList.add('dom-loaded');
      });
    </script>


    {% render 'tracking_code_head' %}
    {% render 'header-google-tag-manager' %}
  
	{% capture magic_headers %}{% include 'magiczoomplus.headers' %}{% endcapture %}{% unless magic_headers contains 'Liquid error' %}{{magic_headers}}{% endunless %}
</head>

  <body>
    <a class="skip-to-content-link btn visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>    

    {%- if settings.cart_type == 'drawer' -%}
      {%- render 'cart-drawer' -%}
    {%- endif -%}
    
    {%- if request.design_mode -%}
    {%-  section 'documentation' -%}
    {%- endif -%}
    
    {% section 'announcement-bar' %}
   
    {%- liquid
     	capture header
    	section 'header'
    	endcapture
        echo header
    -%}

    <main id="MainContent" class="content-for-layout focus-none"
          role="main" tabindex="-1"
          {% if header contains ' data-menu-opened=' and template == 'index' %}data-menu-in-content="{{ header | split:'data-menu-opened="' | last | split: '"' | first }}"{% endif %}
          {% if header contains 'data-header-wide' and template == 'index' %}data-header-wide="true"{% endif %}
          >
      {%- render "breadcrumb", header:header -%}
      {{ content_for_layout }}
    </main>

    {% unless template == 'cart' %}
    {% section 'contact-info' %}
    {% endunless %}
    {% section 'footer' %}

    {%- if settings.show_age_verification_popup -%}
    {%- render "age-verification-popup" -%}
    {%- endif -%}
    
    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>      
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        cart_url: '{{ routes.cart_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      }
      
      var minion = {
        domain: '{{ shop.domain }}',
        shop: '{{ shop.permanent_domain }}'
      };

      {%- if settings.external_links_in_new_tab -%}
      document.querySelectorAll('a[href^="http"]').forEach((item) => {
        item.setAttribute('target', '_blank');
      });        
      {%- endif -%}
    </script>

    {%- if settings.predictive_search_enabled -%}
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if settings.enable_recently_viewed_products -%}
      <recently-viewed-products-record data-count="{{ settings.recently_viewed_products_limit }}"></recently-viewed-products-record>
      <script src="{{ 'component-recently-viewed-products.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

  <!-- This line added automatically by JSON-LD for SEO. -->{% include 'jsonld-for-seo' %}
 {% include 'smile-initializer' %}
<script type="text/javascript" src="//guarantee-cdn.com/SealCore/api/gjs?SN=940839776&t=11"></script>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

            <script>var HIDE_POWERED_BY_GORGIAS = true;</script>
    <!-- Gorgias Chat Widget Start -->
    <div id="gorgias-chat">
      <script>window.gorgiasChatParameters = {}</script>
      <script type="noscript-s" data-src="https://config.gorgias.io/production/RdOkb7o1Lk6VXGNr/chat/zKB3oxwlqQ6rkVOL.js"></script>
    </div>  
    <!-- Gorgias Chat Widget End -->
    <!--remove Powered by Gorgias text -->
    <script type="noscript-s">
var gorgiasChatInterval = window.setInterval(function () {
  var iframe = document.querySelector('#gorgias-web-messenger-container');
    if (iframe) { 
      var head = iframe.contentWindow.document.querySelector('head')
      if (head.children.length) {
        window.clearInterval(gorgiasChatInterval); // this line breaks out of the loop - make sure it's not deleted.        
        var styles = document.createElement('style');
        styles.textContent = '.logo-wrapper{display: none}'
        head.appendChild(styles)
      } 
    }     
}, 100);
    </script>  
    <script type="noscript-s">
  var gorgiasChatInterval = window.setInterval(function() {
      var container = document.querySelector('#gorgias-chat-container')
      if (window.GorgiasChat && GorgiasChat.hasOwnProperty("on"))        {
      GorgiasChat.setShopifyContext('bully-max.myshopify.com');
      }
  }, 50);
    </script> 
    
    {% render 'tracking_code_body' %}
    {% render 'header-google-tag-manager-noscript' %}    

</body>
</html>
