{{ 'our-features.css' | asset_url | stylesheet_tag }}

{%- capture section_styles -%}
{%- if section.settings.background != 'hide' -%}
{%- liquid
	capture color
	if section.settings.background == 'color'
    echo section.settings.color_background
    else
    echo section.settings.gradient
    endif
    endcapture
-%}
{%- if color != "rgba(0,0,0,0)" and color != blank -%}
#our-features-{{ section.id }}{
  --color-section-background: {{ color }};
}
{%- endif -%}
{%- if section.settings.remove_bottom_spacing -%}
#our-features-{{ section.id }}.section-background,
#our-features-{{ section.id }} .section-background{
  padding-bottom: 0;
}
{%- endif -%}
{%- endif -%}

{%- if section.settings.color_description != "rgba(0,0,0,0)" -%}
#our-features-{{ section.id }} .text__description{
  color:{{section.settings.color_description}};
}
{%- endif -%}

@media (min-width: 993px){
#our-features-{{ section.id }} .desktop_border_bottom{
      border-bottom: 1px solid {{ section.settings.color_border }};
}
#our-features-{{ section.id }} .desktop_border_right{
    border-right: 1px solid {{ section.settings.color_border }};
}
}

@media (max-width: 992px) {
  #our-features-{{ section.id }} .mobile_border_bottom{
      border-bottom: 1px solid {{ section.settings.color_border }};
}
}
{%- endcapture -%}

{%- if section_styles != blank -%}
<style>{{ section_styles }}</style>
{%- endif -%}

<div id="our-features-{{ section.id }}" class="our_features top-spacing-{{ section.settings.top_spacing }}{% if section.settings.background != 'hide' %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}"
     data-section-name="text">

  {% liquid
  if section.settings.color_heading != "rgba(0,0,0,0)"
  assign color_heading = ' style="color:' | append: section.settings.color_heading | append: ';"'
  endif  
      %}
      
     {%- if section.blocks.size > 0 -%}
       <div class="our_features_inner mobile--hide">
          <div class="our_features_content_wrap desktop_border_bottom">
         <div class="page-width">
           <div class="grid">
      {%- for block in section.blocks limit: 2-%}
        <div class="col-st-12 col-6 display-flex align-items-center {% if forloop.first %}desktop_border_right{% endif %}">
      <div class="our_features_content" style="gap: {{ block.settings.gap }}px;">
        {% if  block.settings.image != blank %}
          {% assign imagesize = block.settings.image.width | append: 'x' %}
          <div class="image_wrapper" style="max-width: {{ block.settings.image_width }}px; flex: 0 0 {{ block.settings.image_width }}px;">
            <img srcset="{{ block.settings.image | img_url: imagesize }} 1x, {{ block.settings.image | img_url: imagesize, scale: 2 }} 2x"
            src="{{ block.settings.image | img_url: imagesize }}"
            loading="lazy"
            alt="{{ block.settings.image.alt | escape }}"
            >
          </div>
          {% endif %}

          {%- if block.settings.heading != blank -%}
          <a href="javascript:void(0);" class="our_features_cta font-weight-700 {% if section.settings.heading_size != "normal" %} {{ section.settings.heading_size }}{% endif %}" aria-label="{{ 'general.aria_label.link' | t }}" {{ color_heading }}>
          {{ block.settings.heading }}
          </a>
        {%- endif -%}   

                                {% if block.settings.description != blank %}
          <div class="text__description{% if section.settings.description_size != "normal" %} {{ section.settings.description_size }}{% endif %} hide">
          {{ block.settings.description }}
          <a href="javascript:void(0);" class="our_features_close_cta font-weight-600 body4" {{ color_heading }}>Hide Info</a>
          </div>
        {% endif %}
      </div>
        </div>
    {% endfor %}
         </div>
       </div>
       </div>
         <div class="our_features_content_wrap">
       <div class="page-width">
        <div class="grid">
               {%- for block in section.blocks offset: 2-%}
        <div class="col-st-12 col-6 display-flex align-items-center {% if forloop.first %}desktop_border_right{% endif %}">
      <div class="our_features_content" style="gap: {{ block.settings.gap }}px;">
        {% if  block.settings.image != blank %}
          {% assign imagesize = block.settings.image.width | append: 'x' %}
          <div class="image_wrapper" style="max-width: {{ block.settings.image_width }}px; flex: 0 0 {{ block.settings.image_width }}px;">
            <img srcset="{{ block.settings.image | img_url: imagesize }} 1x, {{ block.settings.image | img_url: imagesize, scale: 2 }} 2x"
            src="{{ block.settings.image | img_url: imagesize }}"
            loading="lazy"
            alt="{{ block.settings.image.alt | escape }}"
            >
          </div>
          {% endif %}

          {%- if block.settings.heading != blank -%}
          <a href="javascript:void(0);" class="our_features_cta font-weight-700 {% if section.settings.heading_size != "normal" %} {{ section.settings.heading_size }}{% endif %}" aria-label="{{ 'general.aria_label.link' | t }}" {{ color_heading }}>
          {{ block.settings.heading }}
          </a>
        {%- endif -%}   

                         {% if block.settings.description != blank %}
          <div class="text__description{% if section.settings.description_size != "normal" %} {{ section.settings.description_size }}{% endif %} hide">
          {{ block.settings.description }}
          <a href="javascript:void(0);" class="our_features_close_cta font-weight-600 body4" {{ color_heading }}>Hide Info</a>
          </div>
        {% endif %}
      </div>
        </div>
    {% endfor %}
        </div>
       </div>
         </div>
       </div>

      <div class="our_features_inner desktop--hide">
        <div class="our_features_content_wrap desktop_border_bottom">
      {%- for block in section.blocks-%}
                 <div class="page-width {% unless forloop.last %}mobile_border_bottom{% endunless %}">
           <div class="grid">
        <div class="col-st-12 col-6 display-flex align-items-center justify-content-center {% if forloop.first %}desktop_border_right{% endif %}">
      <div class="our_features_content" style="gap: {{ block.settings.gap }}px;">
        {% if  block.settings.image != blank %}
          {% assign imagesize = block.settings.image.width | append: 'x' %}
          <div class="image_wrapper" style="max-width: {{ block.settings.image_width | minus: 15 }}px; flex: 0 0 {{ block.settings.image_width | minus: 15 }}px;">
            <img srcset="{{ block.settings.image | img_url: imagesize }} 1x, {{ block.settings.image | img_url: imagesize, scale: 2 }} 2x"
            src="{{ block.settings.image | img_url: imagesize }}"
            loading="lazy"
            alt="{{ block.settings.image.alt | escape }}"
            >
          </div>
          {% endif %}

          {%- if block.settings.heading != blank -%}
          <a href="javascript:void(0);" class="our_features_cta font-weight-700 {% if section.settings.heading_size != "normal" %} {{ section.settings.heading_size }}{% endif %}" aria-label="{{ 'general.aria_label.link' | t }}" {{ color_heading }}>
          {{ block.settings.heading }}
          </a>
        {%- endif -%}  

        {% if block.settings.description != blank %}
          <div class="text__description{% if section.settings.description_size != "normal" %} {{ section.settings.description_size }}{% endif %} hide">
          {{ block.settings.description }}
          <a href="javascript:void(0);" class="our_features_close_cta font-weight-600 body4" {{ color_heading }}>Hide Info</a>
          </div>
        {% endif %}
      </div>
        </div>
        </div>
    </div>
    {% endfor %}
       </div>
       </div>
    {% endif %}
    
</div>

{% schema %}
  {
    "name": "Our features",
  	"tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
	  {
		"type": "select",
		"id": "heading_size",
		"options": [
		  {
			"value": "normal",
			"label": "t:sections.general.settings.heading_tag.options__normal.label"
		  },
          {
			"value": "body1",
			"label": "t:sections.general.settings.heading_tag.options__medium.label"
		  },
		  {
			"value": "body2",
			"label": "t:sections.general.settings.heading_tag.options__small.label"
		  }
		],
		"default": "normal",
		"label": "t:sections.general.settings.heading_tag.label"
	  },
	  {
		"type": "select",
		"id": "description_size",
		"options": [
		  {
			"value": "normal",
			"label": "t:sections.general.settings.description_size.options__normal.label"
		  },
		  {
			"value": "body2",
			"label": "t:sections.general.settings.description_size.options__small.label"
		  }
		],
		"default": "normal",
		"label": "t:sections.general.settings.description_size.label"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_colors.content"
      },
      {
        "type": "color",
        "id": "color_heading",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.heading.label"
      },
      	  {
		"type": "color",
		"id": "color_description",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.description.label"
	  },
      {
        "type": "color",
        "id": "color_border",
        "default": "rgba(0,0,0,0)",
        "label": "Border"
      },
      {
        "type": "header",
		"content": "t:sections.general.settings.header_background.content"
      },
	  {
		"type": "select",
		"id": "background",
		"options": [
		  {
			"value": "hide",
			"label": "t:sections.general.settings.background.options__hide.label"
		  },
		  {
			"value": "color",
			"label": "t:sections.general.settings.background.options__color.label"
		  },
		  {
			"value": "gradient",
			"label": "t:sections.general.settings.background.options__gradient.label"
		  }
		],
		"default": "hide",
		"label": "t:sections.general.settings.background.label"
	  },
	  {
		"type": "color",
		"id": "color_background",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.color_background.label"
	  },
      {
		"type": "color_background",
        "id": "gradient",
		"label": "t:sections.general.settings.gradient.label"
      },
	  {
		"type": "select",
		"id": "background_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.background_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.background_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.background_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.background_spacing.options__normal.label"
          }
        ],
		"default": "normal",
		"label": "t:sections.general.settings.background_spacing.label"
	  },
      {
        "type": "checkbox",
        "id": "remove_bottom_spacing",
        "default": false,
		"label": "t:sections.general.settings.remove_bottom_spacing.label"
      }
	],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "content",
        "name": "content",
        "settings": [
          {
          "type": "range",
          "id": "gap",
          "label": "Gap",
          "default": 0,
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px"
          },
          {
            "type": "image_picker",
            "id": "image",
			"label": "t:sections.general.settings.image.label"
          },
          {
          "type": "range",
          "id": "image_width",
          "label": "Image width",
          "default": 100,
          "min": 100,
          "max": 600,
          "step": 5,
          "unit": "px"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "CTA Text"
          },
          {
            "type": "richtext",
            "id": "description",
            "default": "<p>Give customers details about the banner image(s) or content on the template.</p>",
            "label": "t:sections.general.settings.description.label"
          }
        ]
      }
    ],
    "presets": [
      {
      	"name": "Our features"
      }
    ]
  }
{% endschema %}