{{ 'product-description-tab.css' | asset_url | stylesheet_tag }}
{{ 'full-width-image.css' | asset_url | stylesheet_tag }}

<div id="product-description-tab-{{ section.id }}" class="product_description_tab top-spacing-{{ section.settings.top_spacing }} {{ section.settings.width }}">
  {% assign description = product.description | split:'<h6>' %}
          {% assign head_one = description[1] | split:'</h6>' %}
        {% assign head_two = description[2] | split:'</h6>' %}
        {% assign head_three = description[3] | split:'</h6>' %}

        <div class="product_description_tablist text-center">
          {% if head_one[0] != blank or section.blocks.size > 0 %}
          <div id="tab_1" class="tab desc_tab_active">
            {% if  head_one[0] != blank %}
            <p class="body1 m-0">{{ head_one[0] }}</p>
            {% else %}
            <p class="body1 m-0">Description</p>
            {% endif %}
          </div>
            {% endif %}
            {% if head_two[0] != blank %}
        <div id="tab_2" class="tab">
            <p class="body1 m-0">{{ head_two[0] | remove: ':' }}</p>
          </div>
          {% endif %}
           <div id="tab_3" class="tab small-mobile--hide">
            <p class="body1 m-0">Reviews</p>
          </div>
          {% if head_three[0] != blank %}
         <div id="tab_4" class="tab">
            <p class="body1 m-0">{{ head_three[0] | upcase }}</p>
          </div>
          {% endif %}
        </div>

  <div class="product_description_tab_content">
    {% if head_one[0] != blank or section.blocks.size > 0 %}
      <div class="tab_content tab_1 desc_tab_active">
         {{ head_one[1] | replace: 'h3', 'h4' | replace: 'h2', 'h3' }}

              <div class ="product-info-section full_width_image">
              <div class="full_width_image_inner">
              
              {% for block in section.blocks %}
              
              {% case block.type %}
              
              {% when 'image' %}
              
              {% if block.settings.main_image != blank %}
              {% assign imagesize = block.settings.main_image.width | append: 'x' %}
              <img 
                srcset="{{ block.settings.main_image | img_url: imagesize }} 1x, {{ block.settings.main_image | img_url: imagesize, scale: 2 }} 2x" 
                src="{{ block.settings.main_image | img_url: imagesize }}" 
                loading="lazy" 
                alt="{{ block.settings.main_image.alt | escape }}"
                class="small-mobile--hide"
              >
               {% endif %}
              
              {% if block.settings.mobile_main_image != blank %}
              {% assign imagesize = block.settings.mobile_main_image.width | append: 'x' %}
              <img 
                srcset="{{ block.settings.mobile_main_image | img_url: imagesize }} 1x, {{ block.settings.mobile_main_image | img_url: imagesize, scale: 2 }} 2x" 
                src="{{ block.settings.mobile_main_image | img_url: imagesize }}" 
                loading="lazy" 
                alt="{{ block.settings.mobile_main_image.alt | escape }}"
                class="large-desktop--hide"
              >
              {% endif %}
              
              {% if block.settings.heading != blank %}
               <h3>{{ block.settings.heading }}</h3>
              {% endif %}
              {% if block.settings.paragraph != blank %}
                {{ block.settings.paragraph }}
              {% endif %}
              {% when '2-image-column' %}
              
              <div class="grid grid image-banner__mobile-margin two_image_column {% if block.settings.mobile_hide == true %}small-mobile--hide{% endif %}">
              <div class="column-1 col-sp-12 col-st-6 col-md-6 col-6 two_image_column_inner">
              {% if block.settings.two_column_image_1 != blank %}
              {% assign imagesize_1 = block.settings.two_column_image_1.width | append: 'x' %}
              <img 
                srcset="{{ block.settings.two_column_image_1 | img_url: imagesize_1 }} 1x, {{ block.settings.two_column_image_1 | img_url: imagesize_1, scale: 2 }} 2x" 
                src="{{ block.settings.two_column_image_1 | img_url: imagesize_1 }}" 
                loading="lazy"
              >
              {% endif %}
              {% if block.settings.heading1 != blank %}
              <h3 class="column_title font-weight-700">{{ block.settings.heading1}}</h3>
              {% endif %}
              {% if block.settings.two_column_paragraph_1 != blank %}
              <div class="column_text body2">
                {{ block.settings.two_column_paragraph_1 }}
              </div>
              {% endif %}
              </div>
              <div class="column-2 col-sp-12 col-st-6 col-md-6 col-6 two_image_column_inner">
              {% if block.settings.two_column_image_2 != blank %}
              {% assign imagesize_2 = block.settings.two_column_image_2.width | append: 'x' %}
              <img 
                srcset="{{ block.settings.two_column_image_2 | img_url: imagesize_2 }} 1x, {{ block.settings.two_column_image_2 | img_url: imagesize_2, scale: 2 }} 2x" 
                src="{{ block.settings.two_column_image_2 | img_url: imagesize_2 }}" 
                loading="lazy"
              >
              {% endif %}
              {% if block.settings.two_column_heading_2 != blank %}
              <h3 class="column_title font-weight-700">{{ block.settings.two_column_heading_2}}</h3>
              {% endif %}
              {% if block.settings.two_column_paragraph_2 != blank %}
              <div class="column_text body2">
                {{ block.settings.two_column_paragraph_2 }}
              </div>
              {% endif %}
              </div>
              </div>
              
              {% when '3-image-column' %}
              
              <div class="grid grid-3 image-banner__mobile-margin three_image_column justify-content-center {% if block.settings.mobile_hide == true %}small-mobile--hide{% endif %}">
              <div class="column-1 col-sp-12 col-st-6 col-md-4 col-4 three_image_column_inner">
              {% if block.settings.three_column_image_1 != blank %}
              {% assign imagesize_1 = block.settings.three_column_image_1.width | append: 'x' %}
              <img 
              srcset="{{ block.settings.three_column_image_1 | img_url: imagesize_1 }} 1x, {{ block.settings.three_column_image_1 | img_url: imagesize_1, scale: 2 }} 2x" 
              src="{{ block.settings.three_column_image_1 | img_url: imagesize_1 }}" 
              loading="lazy"
              >
              {% endif %}
              {% if block.settings.three_column_heading_1 != blank %}
              <h3 class="column_title font-weight-700">{{ block.settings.three_column_heading_1}}</h3>
              {% endif %}
              {% if block.settings.three_column_paragraph_1 != blank %}
              <div class="column_text body2">
              {{ block.settings.three_column_paragraph_1 }}
              </div>
              {% endif %}
              </div>
              <div class="column-2 col-sp-12 col-st-6 col-md-4 col-4 three_image_column_inner">
              {% if block.settings.three_column_image_2 != blank %}
              {% assign imagesize_2 = block.settings.three_column_image_2.width | append: 'x' %}
              <img 
              srcset="{{ block.settings.three_column_image_2 | img_url: imagesize_2 }} 1x, {{ block.settings.three_column_image_2 | img_url: imagesize_2, scale: 2 }} 2x" 
              src="{{ block.settings.three_column_image_2 | img_url: imagesize_2 }}" 
              loading="lazy"
              >
              {% endif %}
              {% if block.settings.three_column_heading_2 != blank %}
              <h3 class="column_title font-weight-700">{{ block.settings.three_column_heading_2}}</h3>
              {% endif %}
              {% if block.settings.three_column_paragraph_2 != blank %}
              <div class="column_text body2">
              {{ block.settings.three_column_paragraph_2 }}
              </div>
              {% endif %}
              </div>
              <div class="column-3 col-sp-12 col-st-6 col-md-4 col-4 three_image_column_inner">
              {% if block.settings.three_column_image_3 != blank %}
              {% assign imagesize_3 = block.settings.three_column_image_3.width | append: 'x' %}
              <img 
              srcset="{{ block.settings.three_column_image_3 | img_url: imagesize_3 }} 1x, {{ block.settings.three_column_image_3 | img_url: imagesize_3, scale: 2 }} 2x" 
              src="{{ block.settings.three_column_image_3 | img_url: imagesize_3 }}" 
              loading="lazy"
              >
              {% endif %}
              {% if block.settings.three_column_heading_3 != blank %}
              <h3 class="column_title font-weight-700">{{ block.settings.three_column_heading_3}}</h3>
              {% endif %}
              {% if block.settings.three_column_paragraph_3 != blank %}
              <div class="column_text body2">
              {{ block.settings.three_column_paragraph_3 }}
              </div>
              {% endif %}
              </div>
              </div>
              
              {% endcase %}
              {% endfor %}
              </div>
              </div>
        
      </div>
    {% endif %}
        {% if head_two[0] != blank %}
      <div class="tab_content tab_2">
         {{ head_two[1] | replace: 'h3', 'h4' | replace: 'h2', 'h3' }}
      </div>
    {% endif %}

    <div class="tab_content tab_3 small-mobile--hide">
            <div class="overflow-hidden yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}" data-price="{{ variant.price | money_without_currency }}"
data-currency="{{ shop.currency }}" data-description="{{ product.description | escape }}">
{%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
  {%- assign time_now = 'now' | date: '%s' %}
  {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
  {%- assign diff_seconds_from_live = time_now | minus: yotpo_live_time %}
  {%- assign yotpo_main_widget_last_updated = product.metafields.yotpo.main_widget_update_time | date: '%s' %}
  {%- assign diff_seconds_from_last_main_widget_update = time_now | minus: yotpo_main_widget_last_updated %}
  {%- if yotpo_live_time and diff_seconds_from_live < 86400 or yotpo_main_widget_last_updated and diff_seconds_from_last_main_widget_update < 86400 -%}
    {%- assign yotpo_main_widget_obsolete = false %}
  {%- else %}
    {%- assign yotpo_main_widget_obsolete = true %}
  {%- endif %}
  {%- if yotpo_offload_content == 'yes' and yotpo_main_widget_obsolete != true -%}
    {%- for field in product.metafields.yotpo_reviews -%}
      {{ field | last }}
    {%- endfor -%}
  {%- endif %}
</div>
    </div>
    
        {% if head_three[0] != blank %}
      <div class="tab_content tab_4">
         {{ head_three[1] | replace: 'h3', 'h4' | replace: 'h2', 'h3' }}
      </div>
    {% endif %}
  </div>
  
</div>

{% schema %}
  {
    "name": "Product description tab",
    "settings": [
            {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
            {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          }
        ],
        "default": "page-width",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      }
    ],
    "blocks":[
      {
        "name": "Full Width Image",
        "type": "image",
        "settings": [      
          {
            "type": "image_picker",
            "id": "main_image",
            "label": "Desktop Main Image"
          },
           {
            "type": "image_picker",
            "id": "mobile_main_image",
            "label": "Mobile Main Image"
          },
          {
            "type": "textarea",
            "id": "heading",
            "label": "Heading",
            "info": "Use this for html Header tags for SEO"
          },    
          {
            "type": "richtext",
            "id": "paragraph",
            "label": "Paragraph"
          }          
        ]
      },
      {
        "name": "Two Image Column",
        "type": "2-image-column",
        "settings": [
                    {
            "type": "checkbox",
            "id": "mobile_hide",
            "label": "Hide on mobile",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "two_column_image_1",
            "label": "Column Image 1"
          },
          {
            "type": "text",
            "id": "heading1",
            "label": "Column Title 1"
          },
          {
            "type": "richtext",
            "id": "two_column_paragraph_1",
            "label": "Column Text 1"
          },
          {
            "type": "image_picker",
            "id": "two_column_image_2",
            "label": "Column Image 2"
          },          
          {
            "type": "text",
            "id": "two_column_heading_2",
            "label": "Column Title 2"
          },
          {
            "type": "richtext",
            "id": "two_column_paragraph_2",
            "label": "Column Text 2"
          }          
        ]
      },
      {
        "name": "Three Image Column",
        "type": "3-image-column",
        "settings": [
                    {
            "type": "checkbox",
            "id": "mobile_hide",
            "label": "Hide on mobile",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "three_column_image_1",
            "label": "Column Image 1"
          },
          {
            "type": "text",
            "id": "three_column_heading_1",
            "label": "Column Title 1"
          },
          {
            "type": "richtext",
            "id": "three_column_paragraph_1",
            "label": "Column Text 1"
          },
          {
            "type": "image_picker",
            "id": "three_column_image_2",
            "label": "Column Image 2"
          },          
          {
            "type": "text",
            "id": "three_column_heading_2",
            "label": "Column Title 2"
          },
          {
            "type": "richtext",
            "id": "three_column_paragraph_2",
            "label": "Column Text 2"
          },
          {
            "type": "image_picker",
            "id": "three_column_image_3",
            "label": "Column Image 3"
          },          
          {
            "type": "text",
            "id": "three_column_heading_3",
            "label": "Column Title 3"
          },
          {
            "type": "richtext",
            "id": "three_column_paragraph_3",
            "label": "Column Text 3"
          }             
        ]
      }      
    ]
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}