{{ 'product-tag.css' | asset_url | stylesheet_tag }}

{%- capture section_styles -%}
{%- if section.settings.background != 'hide' -%}
{%- liquid
	capture color
	if section.settings.background == 'color'
    echo section.settings.color_background
    else
    echo section.settings.gradient
    endif
    endcapture
-%}
{%- if color != "rgba(0,0,0,0)" and color != blank -%}
#text-columns-img-{{ section.id }}{
  --color-section-background: {{ color }};
}
{%- endif -%}
{%- if section.settings.remove_bottom_spacing -%}
#text-columns-img-{{ section.id }}.section-background,
#text-columns-img-{{ section.id }} .section-background{
  padding-bottom: 0;
}
{%- endif -%}
{%- endif -%}
{%- endcapture -%}
<style>
  .text-left .text-columns-icons{
    display: flex;
  }
  .text-left .text-columns-img__icon{
    margin-bottom: 0;
    margin-right: 20px;
    flex: 0 0 auto;
  }
  .text-columns-img__icon img{
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
    {% if section.settings.texts_aligment == 'text-center' %}
    #text-columns-img-{{ section.id }} .text-columns-img__icon svg{
          margin: 0 auto;
    }  
  {% endif %}
  {{ section_styles }}
</style>

<div id="text-columns-img-{{ section.id }}" class="product_tag top-spacing-{{ section.settings.top_spacing }}{% if section.settings.background != 'hide' %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}"
     data-section-name="text-columns-with-images">
  <div class="{{ section.settings.width }} mb--last-child-0 p-0">
    
    {%- if section.blocks.size > 0 -%}
    <div class="product_tag_inner display-flex align-items-center justify-content-center {{ section.settings.texts_aligment }}">

      {%- for block in section.blocks -%}
      <div class="product_tag_column py-6 px-4 p-lg-6" {{ block.shopify_attributes }}>
        
        <div class="text-columns-img mt--first-child-0 mb--last-child-0{% if settings.enable_zoom_animation %} image-hover-scaling-up{% endif %} hover-area">

          {%- if block.settings.heading != blank -%}
          <p class="text-columns-img__heading mt0 mb-3 mb-lg-4 font-weight-700 {{ section.settings.description_size }}" style="color:{{section.settings.color_description}};">
          {{ block.settings.heading }}
          </p>
          {%- endif -%}
        
           <div class="mb-3 mb-lg-6 image-hover-scaling__image">
          {%- if block.settings.image == blank -%}

          <div class="placeholder__svg--bg border__radius{% if section.settings.image_ratio == '1, round-image' %} border__radius--circle{% endif %}"{% if section.settings.image_ratio != 'auto' %} style="--aspect-ratio: {{section.settings.image_ratio}};"{% endif %}>
            {%- render "icons-placeholder-other", icon_name:'image-1' -%}
          </div>

          {%- else -%}

          {%- capture image_ratio -%}
          {%- if section.settings.image_ratio == 'auto' -%}
          {{ block.settings.image.aspect_ratio }}
          {%- elsif section.settings.image_ratio == '1, round-image' -%}
          {{ section.settings.image_ratio | split: ',' | first }}
          {%- else -%}
          {{ section.settings.image_ratio }}
          {%- endif -%}
          {%- endcapture -%}

          <div class="border__radius{% if section.settings.image_ratio == '1, round-image' %} border__radius--circle{% endif %}" style="--aspect-ratio: {{image_ratio}};">
            {%- liquid
                if section.settings.width == "page-wide"
                assign page_is_wide = true
                else
                assign page_is_wide = false
                endif
            -%}
            {%- assign image = block.settings.image -%}
            {%- capture sizes -%}
            (min-width: 1440px) {% if page_is_wide %}calc((100vw - {{ settings.spacing_grid_horizontal }}px) / 2){% else %}calc(({{ settings.page_width }}px - 20px) / 2){% endif %},(min-width: 993px) calc((100vw - 140px) / 2),(min-width: 577px) calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2),calc((100vw - 40px - {{ settings.spacing_grid_horizontal }}px) / 2)
            {%- endcapture -%}
            {%- capture image_class -%}{% if settings.animate_image_show %}image-show--fadein{% endif %}{%- endcapture -%}            
            {%- capture animate_image_show -%}{% if settings.animate_image_show %}this.classList.add('image-loaded');{% endif %}{%- endcapture -%}
            {{
              image
              | image_url: width: image.width
              | image_tag:
                loading: 'lazy',
                width: image.width,
                height: image.height,
                sizes: sizes,
                widths: '400, 470, 620, 1240',
                class: image_class,
                onload: animate_image_show
            }}
          </div>
          {%- endif -%}
         </div>

          {%- if block.settings.btn_text != blank -%}
          <a href="{{ block.settings.btn_url }}" class="clear-underline font-weight-700 {{ section.settings.description_size }}" aria-label="{{ 'general.aria_label.link' | t }}" style="color:{{section.settings.color_description}};">
            {{ block.settings.btn_text }}
          </a>
        {%- endif -%}

        </div>
      </div>
      
      {%- endfor -%}
    </div>

    {%- endif -%}
  </div>
</div>
  {%- if section.settings.button_name != blank -%}
      <div class="{{ section.settings.width }} mb--last-child-0">
  <div class="product_tag_btn mt-5 text-center">
      <a{% if section.settings.button_url != blank %} href="{{ section.settings.button_url }}"{% endif %}
         class="cta-button"
         {% if section.settings.button_url == blank %} aria-disabled="true"{% else %} aria-label="{{ 'general.aria_label.link' | t }}"{% endif %}
    style="color: {{ section.settings.color_button }};">
        <span>{{ section.settings.button_name }}</span>
        <span style="color: var(--color-accent);">></span>
      </a>
  </div>
          </div>
  {%- endif -%}

{% schema %}
  {
    "name": "Product tag",
  	"tag": "section",
    "settings": [
      {
        "type": "header",
		"content": "t:sections.text-columns-with-images.settings.header_button.content"
      },
	  {
		"type": "text",
		"id": "button_name",
		"default": "Button",
		"label": "t:sections.text-columns-with-images.settings.button_name.label"
	  },
      {
        "type": "url",
        "id": "button_url",
		"label": "t:sections.text-columns-with-images.settings.button_url.label"
      },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_layout.content"
      },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      {
        "type": "select",
        "id": "width",
        "options": [
          {
            "value": "page-width",
            "label": "t:sections.general.settings.width.options__boxed.label"
          },
          {
            "value": "page-wide",
            "label": "t:sections.general.settings.width.options__wide.label"
          }
        ],
        "default": "page-width",
        "label": "t:sections.general.settings.width.label",
		"info": "t:sections.general.settings.width.info"
      },
      {
        "type": "header",
        "content": "t:sections.text-columns-with-images.settings.header_blurbs.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "auto",
            "label": "t:sections.general.settings.image_ratio.options__auto.label"
          },
          {
            "value": "0.75",
            "label": "t:sections.general.settings.image_ratio.options__portrait.label"
          },
          {
            "value": "1.333333",
            "label": "t:sections.general.settings.image_ratio.options__landscape.label"
          },
          {
            "value": "1",
            "label": "t:sections.general.settings.image_ratio.options__square.label"
          },
          {
            "value": "1, round-image",
            "label": "t:sections.general.settings.image_ratio.options__round.label"
          }
        ],
        "default": "auto",
        "label": "t:sections.general.settings.image_ratio.label"
      },
      {
        "type": "select",
        "id": "texts_aligment",
        "options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_alignment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_alignment.options__center.label"
		  }
        ],
        "default": "text-center",
        "label": "t:sections.general.settings.texts_alignment.label"
      },
	  {
		"type": "select",
		"id": "description_size",
		"options": [
		  {
			"value": "normal",
			"label": "t:sections.general.settings.description_size.options__normal.label"
		  },
		  {
			"value": "body2",
			"label": "t:sections.general.settings.description_size.options__small.label"
		  }
		],
		"default": "normal",
		"label": "t:sections.general.settings.description_size.label"
	  },
      {
        "type": "header",
        "content": "t:sections.general.settings.header_colors.content"
      },
	  {
		"type": "color",
		"id": "color_button",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.text-columns-with-images.settings.color_button.label"
	  },
      {
        "type": "paragraph",
        "content": "t:sections.text-columns-with-images.settings.paragraph_blurb_colors.content"
      },
	  {
		"type": "color",
		"id": "color_description",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.description.label"
	  },
      {
        "type": "header",
		"content": "t:sections.general.settings.header_background.content"
      },
	  {
		"type": "select",
		"id": "background",
		"options": [
		  {
			"value": "hide",
			"label": "t:sections.general.settings.background.options__hide.label"
		  },
		  {
			"value": "color",
			"label": "t:sections.general.settings.background.options__color.label"
		  },
		  {
			"value": "gradient",
			"label": "t:sections.general.settings.background.options__gradient.label"
		  }
		],
		"default": "hide",
		"label": "t:sections.general.settings.background.label"
	  },
	  {
		"type": "color",
		"id": "color_background",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.color_background.label"
	  },
      {
		"type": "color_background",
        "id": "gradient",
		"label": "t:sections.general.settings.gradient.label"
      },
	  {
		"type": "select",
		"id": "background_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.background_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.background_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.background_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.background_spacing.options__normal.label"
          }
        ],
		"default": "normal",
		"label": "t:sections.general.settings.background_spacing.label"
	  },
      {
        "type": "checkbox",
        "id": "remove_bottom_spacing",
        "default": false,
		"label": "t:sections.general.settings.remove_bottom_spacing.label"
      }
	],
    "max_blocks": 2,
    "blocks": [
      {
        "type": "blurb_image",
        "name": "t:sections.text-columns-with-images.blocks.blurb_image.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "t:sections.general.settings.heading.label"
          },
          {
            "type": "image_picker",
            "id": "image",
			"label": "t:sections.general.settings.image.label",
			"info": "t:sections.text-columns-with-images.blocks.blurb_image.settings.image.info"
          },
          {
            "type": "text",
            "id": "btn_text",
            "default": "Shop",
            "label": "Button text"
          },
          {
            "type": "url",
            "id": "btn_url",
			"label": "Button link"
          }
        ]
      }
    ],
    "presets": [
      {
      	"name": "Product tag"
      }
    ]
  }
{% endschema %}