<div id="scrollers-section-{{ section.id }}" class ="scrollers-section">
  {% for block in section.blocks %}
    <div id ="scroller-block-{{ block.id }}" class="scroller-section-block" style="background-color:{{ block.settings.background_color }};">
      <div class="scroller-block__top">
        {% assign imagesize = block.settings.main_image.width | append: 'x' %}
        <img srcset="{{ block.settings.main_image | img_url: imagesize }} 1x, {{ block.settings.main_image | img_url: imagesize, scale: 2 }} 2x"
               src="{{ block.settings.main_image | img_url: imagesize }}"
               loading="lazy"
               alt="{{ block.settings.main_image.alt | escape }}"
               >
      <div class="secondary-info">
        {% assign imagesize_2 = block.settings.secondary_image.width | append: 'x' %}
        <img srcset="{{ block.settings.secondary_image | img_url: imagesize_2 }} 1x, {{ block.settings.secondary_image | img_url: imagesize_2, scale: 2 }} 2x"
               src="{{ block.settings.secondary_image | img_url: imagesize_2 }}"
               loading="lazy"
               alt="{{ block.settings.secondary_image.alt | escape }}"
               >        
        <p class="secondary-label">{{ block.settings.secondary_text }}</p>
      </div>
      </div>
    
    </div>
    {% endfor %}

</div>


{% schema %}
  {
    "name": "Homepage Scrollers",
    "settings": [],
    "blocks":[
      {
        "name": "Scroller Info Block",
        "type": "information_block",
        "settings": [
          {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default":"#000000"
          },          
          {
            "type": "image_picker",
            "id": "main_image",
            "label": "Main Image"
          },
          {
            "type": "image_picker",
            "id": "secondary_image",
            "label": "Secondary Optional Image"
          },   
          {
            "type": "textarea",
            "id": "secondary_text",
            "label": "Secondary Optional Text"
          }
        ]
      }
    ],
    "presets":[
      {
      "name":"Homepage Scrollers"
      }
    ]
  }
{% endschema %}

{% stylesheet %}

  .scrollers-section{
    display:flex;
  }
  .scroller-section-block .main-image{
    background:#00000030;
    max-width:100%;

  }

  .scroller-section-block .secondary-image{
    background:#00000030;
       
    max-width:100%;
  }

  .scroller-section-block .scroller-block__top{
    display:flex;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}