{{ 'side_by_side_text.css' | asset_url | stylesheet_tag }}

{%- capture section_styles -%}
{%- if section.settings.background != 'hide' -%}
{%- liquid
	capture color
	if section.settings.background == 'color'
    echo section.settings.color_background
    else
    echo section.settings.gradient
    endif
    endcapture
-%}
{%- if color != "rgba(0,0,0,0)" and color != blank -%}
#side-by-side-text-{{ section.id }}{
  --color-section-background: {{ color }};
}
{%- endif -%}
{%- endif -%}

{%- if section.settings.color_description != "rgba(0,0,0,0)" -%}
#side-by-side-text-{{ section.id }} .side_by_side_text, #side-by-side-text-{{ section.id }} .side_by_side_right_part .btn{
  color:{{section.settings.color_description}};
}
#side-by-side-text-{{ section.id }} .bottom_border{
  border-color: {{section.settings.color_description}};
}
{%- endif -%}

{%- endcapture -%}

{%- if section_styles != blank -%}
<style>{{ section_styles }}</style>
{%- endif -%}

<div id="side-by-side-text-{{ section.id }}" class="side_by_side_text_main top-spacing-{{ section.settings.top_spacing }} {% if section.settings.desktop_header_position %} desktop_header_top {% endif %}{% if section.settings.background != 'hide' %} section-background section-background--{{ section.settings.background_spacing }}{% endif %}">
  <div class="page-width">
     <div class="grid">
       <div class="col-st-12 col-6 side_by_side_left_part">
        {%- liquid
          if section.settings.color_heading != "rgba(0,0,0,0)"
          assign color_heading = ' style="color:' | append: section.settings.color_heading | append: ';"'
          endif
        -%}
        {%- if section.settings.heading != blank -%}
        <h2 class="{{ section.settings.heading_tag }} side_by_side_heading mb-3 mb-md-5 mb-lg-0 {{ section.settings.texts_aligment }} font-weight-{{ section.settings.heading_font_weight }}" {{ color_heading }}>
        {{ section.settings.heading }}</h2>
        {%- endif -%}
       </div>
      <div class="col-st-12 col-6 side_by_side_right_part">
        {%- if section.settings.description != blank -%}
        <div class="side_by_side_text mt0 mt--first-child-0 {% if section.settings.description_size != "normal" %} {{ section.settings.description_size }}{% endif %} {{ section.settings.texts_aligment }} font-weight-{{ section.settings.desc_font_weight }}">
          {{ section.settings.description }}
        </div>
        {%- endif -%}
        {%- if section.settings.button_name != blank -%}
        <div class="btn_wrapper mt-3">
          <a{% if section.settings.button_url != blank %} href="{{ section.settings.button_url }}"{% endif %}
             class="btn btn-medium--icon w-full-sp font-weight-700 {% if section.settings.description_size != "normal" %} {{ section.settings.description_size }}{% endif %}"
             {% if section.settings.button_url == blank %} aria-disabled="true"{% endif %}
              {% if section.settings.texts_aligment == 'text-center' %}
            style="margin: 0 auto;"
            {% elsif section.settings.texts_aligment == 'text-right' %}
               style="margin-left: auto;"
            {% endif %}>
            <span>{{ section.settings.button_name }}</span>
            <span class="btn_right_arrow_icon">&gt;</span>
          </a>
        </div>
        {%- endif -%}
       </div>
     </div>

    <hr class="bottom_border mt-7 mb-0">
  </div>
</div>

{% schema %}
  {
    "name": "Side by side text",
    "settings": [
      {
		"type": "text",
		"id": "heading",
		"default": "Text",
		"label": "t:sections.general.settings.heading.label"
	  },
      {
        "type": "richtext",
        "id": "description",
        "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
        "label": "t:sections.general.settings.description.label"
      },
                  	  {
		"type": "select",
		"id": "heading_tag",
		"options": [
		  {
			"value": "h1",
			"label": "H1"
		  },
		  {
			"value": "h2",
			"label": "H2"
		  },
           {
			"value": "h3",
			"label": "H3"
		  },
           {
			"value": "h4",
			"label": "H4"
		  }
		],
		"default": "h2",
		"label": "t:sections.general.settings.heading_tag.label"
	  },
                  	  {
		"type": "select",
		"id": "heading_font_weight",
		"options": [
		  {
			"value": "900",
			"label": "Extra Bold"
		  },
		  {
			"value": "700",
			"label": "Bold"
		  },
           {
			"value": "600",
			"label": "Semi Bold"
		  },
           {
			"value": "400",
			"label": "Normal"
		  }
		],
		"default": "900",
		"label": "Heading font weight"
	  },
	  {
		"type": "select",
		"id": "description_size",
		"options": [
          {
            "value": "body1",
			"label": "Large"
          },
		  {
			"value": "normal",
			"label": "t:sections.general.settings.description_size.options__normal.label"
		  },
		  {
			"value": "body2",
			"label": "t:sections.general.settings.description_size.options__small.label"
		  }
		],
		"default": "normal",
		"label": "t:sections.general.settings.description_size.label"
	  },
       {
		"type": "select",
		"id": "desc_font_weight",
		"options": [
		  {
			"value": "900",
			"label": "Extra Bold"
		  },
		  {
			"value": "700",
			"label": "Bold"
		  },
           {
			"value": "600",
			"label": "Semi Bold"
		  },
           {
			"value": "400",
			"label": "Normal"
		  }
		],
		"default": "400",
		"label": "Description font weight"
	  },
            {
        "type": "select",
        "id": "texts_aligment",
        "options": [
		  {
			"value": "text-left",
			"label": "t:sections.general.settings.texts_alignment.options__left.label"
		  },
		  {
			"value": "text-center",
			"label": "t:sections.general.settings.texts_alignment.options__center.label"
		  },
         {
            "value": "text-right",
            "label": "Right"
          }
        ],
        "default": "text-center",
        "label": "t:sections.general.settings.texts_alignment.label"
      },
            {
  "type": "checkbox",
  "id": "desktop_header_position",
  "label": "Move Header to top on Desktop",
  "default": false
},
            {
        "type": "header",
		"content": "t:sections.text.settings.header_button.content"
      },
	  {
		"type": "text",
		"id": "button_name",
		"default": "Button",
		"label": "t:sections.text.settings.button_name.label"
	  },
      {
        "type": "url",
        "id": "button_url",
		"label": "t:sections.text.settings.button_url.label"
      },
            {
        "type": "header",
        "content": "t:sections.general.settings.header_colors.content"
      },      {
        "type": "color",
        "id": "color_heading",
        "default": "rgba(0,0,0,0)",
        "label": "t:sections.general.settings.heading.label"
      },
	  {
		"type": "color",
		"id": "color_description",
		"default": "rgba(0,0,0,0)",
		"label": "Text"
	  },
            {
        "type": "header",
		"content": "t:sections.general.settings.header_background.content"
      },
            {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
	  {
		"type": "select",
		"id": "background",
		"options": [
		  {
			"value": "hide",
			"label": "t:sections.general.settings.background.options__hide.label"
		  },
		  {
			"value": "color",
			"label": "t:sections.general.settings.background.options__color.label"
		  },
		  {
			"value": "gradient",
			"label": "t:sections.general.settings.background.options__gradient.label"
		  }
		],
		"default": "hide",
		"label": "t:sections.general.settings.background.label"
	  },
      	  {
		"type": "color",
		"id": "color_background",
		"default": "rgba(0,0,0,0)",
		"label": "t:sections.general.settings.color_background.label"
	  },
      {
		"type": "color_background",
        "id": "gradient",
		"label": "t:sections.general.settings.gradient.label"
      },
      	  {
		"type": "select",
		"id": "background_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.background_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.background_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.background_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.background_spacing.options__normal.label"
          }
        ],
		"default": "normal",
		"label": "t:sections.general.settings.background_spacing.label"
	  }
    ],
    "presets": [
      {
      	"name": "Side by side text"
      }
    ]
    
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}