{{ 'text-bar.css' | asset_url | stylesheet_tag }}

<div class="text_bar top-spacing-{{ section.settings.top_spacing }} {% if section.settings.background_spacing == 'extra-small' %}py-2{% else %}section-background section-background--{{ section.settings.background_spacing }}{% endif %}" style="background-color: {{ section.settings.back_color }};">
  <div class="page-width">
      <div class="text_bar_inner text-center">
        {% if section.settings.image != blank %}
        <div class="text_bar_img">
          {% assign imagesize = section.settings.image.width | append: 'x' %}
          <img srcset="{{ section.settings.image | img_url: imagesize }} 1x, {{ section.settings.image | img_url: imagesize, scale: 2 }} 2x"
               src="{{ section.settings.image | img_url: imagesize }}"
               loading="lazy"
               alt="{{ section.settings.image.alt | escape }}"
               >
      </div>
          {% endif %}
        {% if section.settings.text != blank %}
        <p class="text_bar_content font-weight-700 {% if section.settings.text_size != "normal" %} {{ section.settings.text_size }}{% endif %}" style="color: {{ section.settings.text_color }};">{{ section.settings.text }}</p>
        {% endif %}
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "Text bar",
    "settings": [

      {
		"type": "image_picker",
		"id": "image",
		"label": "t:sections.general.settings.image.label",
		"info": "t:sections.general.settings.show_icon.image_info"
	  },
      {
		"type": "text",
		"id": "text",
		"default": "Add text here...",
		"label": "Text"
	  },
            {
		"type": "select",
		"id": "text_size",
		"options": [
		  {
			"value": "body1",
			"label": "t:sections.general.settings.description_size.options__large.label"
		  },
		  {
			"value": "normal",
			"label": "t:sections.general.settings.description_size.options__normal.label"
		  },
		  {
			"value": "body2",
			"label": "t:sections.general.settings.description_size.options__small.label"
		  }
		],
		"default": "normal",
		"label": "t:sections.ticker.settings.text_size.label"
	  },
      {
        "type": "select",
        "id": "top_spacing",
        "options": [
          {
            "value": "none",
            "label": "t:sections.general.settings.top_spacing.options__none.label"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.top_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.top_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.top_spacing.options__normal.label"
          }
        ],
        "default": "normal",
		"label": "t:sections.general.settings.top_spacing.label"
      },
      	  {
		"type": "select",
		"id": "background_spacing",
        "options": [
          {
            "value": "extra-small",
            "label": "Extra small"
          },
          {
            "value": "small",
            "label": "t:sections.general.settings.background_spacing.options__small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.general.settings.background_spacing.options__medium.label"
          },
          {
            "value": "normal",
            "label": "t:sections.general.settings.background_spacing.options__normal.label"
          }
        ],
		"default": "small",
		"label": "t:sections.general.settings.background_spacing.label"
	  },
       {
		"type": "color",
		"id": "text_color",
		"default": "#ffffff",
		"label": "Text color"
	  },
	  {
		"type": "color",
		"id": "back_color",
		"default": "#000000",
		"label": "Background color"
	  }
    ],
    "presets": [
      {
      	"name": "Text bar"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}